<div style="width: 100%">
    <form [formGroup]="form" (ngSubmit)="registerNewUser()" class="formk">

        <mat-form-field class="example-full-width padd">
            <input matInput placeholder="User's name" formControlName="firstName" [formGroup]="form">
            <mat-error *ngIf="form.get('firstName').hasError('required')">
                User's name is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input type="text" matInput placeholder="Email" formControlName="email" [formGroup]="form">
            <mat-error *ngIf="form.get('email').hasError('required')">
                Email is required!
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
                Email is incorrect!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input type="password" matInput placeholder="Password" formControlName="password" [formGroup]="form">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Password is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input type="password" matInput placeholder="Confirm Password" formControlName="passwordCheck"
                [formGroup]="form">
            <mat-error *ngIf="form.get('passwordCheck').getError('MatchPassword')">
                Password not match!
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width padd">
            <input type="number" matInput placeholder="Age" formControlName="age" [formGroup]="form">
            <mat-error *ngIf="form.get('age').hasError('required')">
                Age is required!
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-flat-button type="submit" [disabled]="!form.valid">Sign Up</button>

        </div>
    </form>

</div>